## [Start] Set the primary key. **
$util.qr($ctx.stash.metadata.put("modelObjectKey", {
  "VideoName": $util.dynamodb.toDynamoDB($ctx.args.VideoName),
  "Index": $util.dynamodb.toDynamoDB($ctx.args.Index)
}))
## [End] Set the primary key. **
{}